[Desktop Entry]
Version=1.0
Type=Application
Name=Trosa 浏览器
GenericName=Web Browser
Comment=打开 Trosa 或浏览网页
Exec=/usr/local/bin/trosa-browser %U
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Terminal=false
